<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <style>
    html{
        scroll-behavior: smooth;
        scroll-snap-type:y mandatory;
        overflow-x: hidden;
    }
    div{
        scroll-snap-align: start;
        height: 100vh;
        
    }
    div video{
        width:100%;
        position: absolute;
        z-index: -10;
    }
 </style>   
<div>
<video src="https://joy.videvo.net/videvo_files/video/premium/partners0056/large_watermarked/BB_c24a8e83-7be2-45d2-83bf-916950d6aa48_preview.mp4" autoplay></video>

<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nostrum perspiciatis aliquid doloribus sequi magnam, nisi, veritatis repudiandae eius quaerat culpa natus amet, quia ex rem pariatur velit praesentium voluptates.</h1>

</div>

<div>
<video src="https://media.istockphoto.com/id/1152377111/video/spring-nature-landscape.mp4?s=mp4-640x640-is&k=20&c=f_j2f4o2nqeQ768-8NEQITnPBsxQv_y3RgLyuMVL5BU=" autoplay></video>


<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nostrum perspiciatis aliquid doloribus sequi magnam, nisi, veritatis repudiandae eius quaerat culpa natus amet, quia ex rem pariatur velit praesentium voluptates.</h1>
</div>

</body>
</html>