</div></div>
<style>
.footer .col{
    box-sizing: border-box !important;
    padding: 20px !important;
   
}
</style>

<div class="row footer row-cols-1 row-cols-md-4 " style="background-color: antiquewhite;">
    <div class="col ">

       <h1>Db Magzine</h1>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error atque illo sit at cumque quas doloremque laudantium corrupti sed cum officiis dolor quisquam temporibus, maxime, sapiente cupiditate id voluptatum minus.</p>

    </div>
    <div class="col">
        <h3>Quick Link </h3>
        <ul>
            <li>list-1</li>
            <li>list-2</li>
            <li>list-3</li>
            <li>list-4</li>
            <li>list-5</li>
        </ul>

    </div>

    <div class="col">
        <h3>Quick Link </h3>
        <ul>
            <li>list-1</li>
            <li>list-2</li>
            <li>list-3</li>
            <li>list-4</li>
            <li>list-5</li>
        </ul>
     
    </div>

    <div class="col">
        <h3>Quick Link </h3>
        <ul>
            <li>list-1</li>
            <li>list-2</li>
            <li>list-3</li>
            <li>list-4</li>
            <li>list-5</li>
        </ul>
     
    </div>

    

    <div class="col">
     
    </div>
    

  </div>





</body>
</html>